@font-face {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 700;
    src: url("../fonts/Montserrat-Bold.woff") format(woff), url("../fonts/Montserrat-Bold.woff2") format(woff2);
}

@font-face {
    font-family: "Segoe-UI-Regular", sans-serif;
    font-weight: 400;
    src: url("../fonts/SegoeUI.ttf");
}

@font-face {
    font-family: "Segoe-UI-Bold", sans-serif;
    font-weight: 700;
    src: url("../fonts/SegoeUI-Bold.ttf") format(ttf);
}

@font-face {
    font-family: "Segoe-UI-Italic", sans-serif;
    font-weight: 400;
    src: url("../fonts/SegoeUI-Italic.ttf") format(ttf);
}

@font-face {
    font-family: "Segoe-UI-Light", sans-serif;
    font-weight: 300;
    src: url("../fonts/SegoeUI-Light.ttf") format(ttf);
}

@font-face {
    font-family: "SourceSansPro-Bold", sans-serif;
    font-weight: 700;
    src: url("../fonts/sourcesanspro-bold-webfont.woff") format(woff), url("../fonts/sourcesanspro-bold-webfont.woff2") format(woff2);
}

@font-face {
    font-family: "SourceSansPro-Regular", sans-serif;
    font-weight: 400;
    src: url("../fonts/sourcesanspro-regular-webfont.woff") format(woff), url("../fonts/sourcesanspro-regular-webfont.woff2") format(woff2);
}