@import "./normalize";
@import "./fonts";
@import "./slick";
@import "./slick-theme";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    overflow-x: hidden;
}

.line {
    height: 3px;
    width: 30px;
    background-color: #000;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 43px;
    img {
        height: 45px;
        margin-left: 9px;
        margin-top: 19px;
        width: 114px;
    }
    .topnav {
        height: 113px;
        overflow: hidden;
        background-color: #fff;
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #000;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topnav span {
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: #c4c4c4;
        margin-right: 37px;
    }
    /* Style the hamburger menu */
    .topnav a.icon {
        background: #fff;
        color: black;
        display: block;
        position: absolute;
        right: 143px;
        top: 57px;
    }
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    /* Style the active link (or home/logo) */
    .active {
        background-color: #4CAF50;
        color: white;
    }
}

.wr-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 78px;
    .home-slider {
        width: 1067px;
        .home-slider-box {
            height: 567px;
            overflow: hidden;
            position: relative;
            .slide-text-1 {
                position: absolute;
                top: 48%;
                transform: translate(0, -50%);
                left: 137px;
                line-height: 45px;
                .line {
                    margin-top: 41px;
                }
                p {
                    font-family: "Segoe-UI-Light", sans-serif;
                    font-size: 37px;
                    color: #626262;
                    width: 249px;
                    margin-top: 0;
                }
                span {
                    font-family: "Segoe-UI-Bold", sans-serif;
                    font-weight: 700;
                    font-size: 63px;
                    color: #000;
                }
                button {
                    border: 1px solid #000;
                    padding: 14px 39px;
                    background-color: transparent;
                    font-family: "Montserrat-Bold", sans-serif;
                    font-weight: 700;
                    color: #e89141;
                    font-size: 9px;
                }
            }
            .slide-text-2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
            }
        }
        .slick-prev:before {
            content: '←';
            display: block;
            width: 20px;
            height: 20px;
            opacity: 1;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slick-next:before {
            content: '→';
            display: block;
            width: 20px;
            height: 20px;
            opacity: 1;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slick-prev,
        .slick-next {
            width: 38px;
            height: 38px;
            top: 240px;
            background-color: #555;
            z-index: 20;
        }
        .slick-prev {
            left: -18px;
        }
        .slick-next {
            right: -19px;
        }
        .scroll-text {
            margin-top: 33px;
            margin-left: 11px;
            font-size: 14px;
        }
    }
}

.wr-about {
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 80px;
    .about-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: 89px;
        top: 348px;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .about-content {
        margin: 73px 67px;
        display: block;
        max-width: 987px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        min-height: 353px;
        .about-text {
            margin-left: 38px;
            margin-top: -27px;
            max-width: 457px;
            h2 {
                font-size: 20px;
                font-family: "Montserrat-Bold", sans-serif;
            }
            p {
                font-family: "Segoe-UI-Light", sans-serif;
                font-size: 11px;
                margin-top: 42px;
            }
            button {
                margin-top: 62px;
                font-size: 10px;
                color: #e89141;
                background: transparent;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 700;
                border: none;
            }
            span {
                position: absolute;
                right: 335px;
                bottom: 131px;
                font-size: 10px;
                letter-spacing: 2px;
            }
        }
        .about-slider {
            position: relative;
            width: 493px;
            margin-top: -40px;
            .about-slider-box {
                height: 306px;
                overflow: hidden;
                img {
                    width: 493px;
                    height: 306px;
                }
            }
            .slick-prev {
                left: 0;
            }
            .slick-next {
                left: -15px;
                margin-left: 40px;
            }
            .slick-prev,
            .slick-next {
                display: block;
                position: absolute;
                top: 83%;
            }
            .slick-prev::before,
            .slick-next::before {
                color: #000;
            }
        }
    }
    .about-content::before {
        content: '';
        width: 3px;
        height: 14px;
        background-color: #000;
        position: absolute;
        top: 385px;
        left: 146px;
    }
    .about-content::after {
        content: '';
        width: 3px;
        height: 14px;
        background-color: #000;
        position: absolute;
        top: 385px;
        right: 146px;
    }
}

.wr-services {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 66px 145px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat-Bold", sans-serif;
    margin-bottom: 120px;
    .services-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: 70px;
        top: 521px;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .service-portfolio {
        .service-portfolio-row {
            display: flex;
            flex-direction: row;
            .service-pair {
                position: relative;
                .service-img-box {
                    height: 320px;
                    width: 267px;
                    overflow: hidden;
                    position: relative;
                    img {
                        height: 320px;
                    }
                }
                .service-img-box:hover {
                    filter: contrast(30%);
                    // .service-img-box::after {
                    //     content: '+ LEARN MORE';
                    //     display: block;
                    //     position: absolute;
                    //     top: 50%;
                    //     left: 50%;
                    //     transform: translate(-50%, -50%);
                    // } НЕ РАБОТАЕТ
                }
                .upper-img {
                    left: -79px;
                    top: 105px;
                    margin-left: 200px;
                    z-index: 5;
                }
                .lower-img {
                    left: 302px;
                    top: 65px;
                }
            }
            .pair-1::before,
            .pair-1::after,
            .pair-2::before,
            .pair-2::after {
                position: absolute;
                font-family: "Segoe-UI-Bold", sans-serif;
                font-weight: 700;
                font-size: 10px;
                letter-spacing: 1px;
            }
            .pair-1::before {
                content: 'WEB & INTERACTIVE DESIGN';
                right: 81px;
                top: 82px;
            }
            .pair-1::after {
                content: 'ECOMMERCE';
                right: -103px;
                bottom: -90px;
            }
            .pair-2::before {
                content: 'APP DEVELOPMENT';
                left: 120px;
                top: 82px;
            }
            .pair-2::after {
                content: 'SEO & MARKETING';
                right: 58px;
                bottom: -90px;
            }
        }
    }
}

.wr-portfolio {
    display: flex;
    flex-direction: row;
    padding: 53px 145px;
    position: relative;
    background-color: #e9edef;
    .portfolio-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: 70px;
        top: 608px;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .portfolio {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat-Bold", sans-serif;
        .portfolio-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            button {
                font-size: 10px;
                color: #e89141;
                background: transparent;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 700;
                border: none;
                padding: 48px 0 0 0;
                letter-spacing: 1px;
            }
        }
        .portfolio-grid {
            display: grid;
            margin-top: 37px;
            grid-template-columns: repeat(3, 320px);
            grid-template-rows: repeat(5, 148px);
            grid-gap: 14px;
            .img-box-vertical-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 4;
                overflow: hidden;
            }
            .img-box-square-1 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                overflow: hidden;
            }
            .img-box-horizontal-1 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
                overflow: hidden;
            }
            .img-box-vertical-2 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 6;
                overflow: hidden;
            }
            .img-box-square-2 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 6;
                overflow: hidden;
            }
            .img-box-horizontal-2 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 6;
                overflow: hidden;
            }
        }
    }
}