@import "./normalize";
@import "./fonts";
@import "./slick";
@import "./slick-theme";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    overflow-x: hidden;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    font-size: 11px;
    line-height: 17px;
    font-weight: 300;
    h2 {
        line-height: 23px;
        position: relative;
        font-size: 21px;
        font-weight: 700;
        font-family: "Montserrat-Bold", sans-serif;
        text-transform: uppercase;
    }
    h2::before {
        content: '';
        position: absolute;
        top: 40px;
        height: 3px;
        width: 27px;
        background-color: #000;
    }
    button {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
    }
    button:hover {
        color: #626262;
    }
    .vertical {
        text-transform: uppercase;
    }
}

html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #fff;
        position: relative;
        width: 100%;
        padding: 0 40px;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav .myLinks {
        display: none;
    }
    /* Style navigation menu links */
    .topnav a {
        color: #000;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    .topnav a.burger-btn {
        background-color: #fff;
        display: block;
        position: absolute;
        right: 107px;
        top: 39px;
        .burger {
            position: relative;
        }
        .burger,
        .burger::before,
        .burger::after {
            display: block;
            height: 2px;
            width: 27px;
            background-color: #000;
        }
        .burger::before {
            content: '';
            position: absolute;
            top: -7px;
        }
        .burger::after {
            content: '';
            position: absolute;
            top: 7px;
        }
        .menu-text {
            position: absolute;
            right: 53px;
            top: 10px;
            font-size: 10px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 700;
            color: #929292;
        }
    }
    .topnav .logo {
        display: block;
        margin-top: 19px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 114px;
        height: 45px;
        align-items: center;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: #000;
    }
}

.wr-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 78px;
    max-width: 100%;
    padding-top: 113px;
    .scroll-text {
        display: flex;
        align-items: center;
        margin-top: 27px;
        a {
            font-family: 'Segoe UI', sans-serif;
            font-weight: 500;
            text-decoration: none;
            color: #000;
            cursor: pointer;
            font-size: 13px;
        }
    }
    span {
        margin-left: 10px;
        font-size: 20px;
    }
    .home-slider {
        max-width: 1067px;
        .home-slider-box {
            height: 567px;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .slide-text-1 {
                position: absolute;
                top: 51%;
                transform: translate(0, -50%);
                left: 137px;
                line-height: 45px;
                p {
                    font-family: "Segoe-UI-Light", sans-serif;
                    font-size: 37px;
                    color: #626262;
                    max-width: 285px;
                    margin-top: 0;
                }
                span {
                    font-family: "Segoe-UI-Bold", sans-serif;
                    font-weight: 700;
                    font-size: 63px;
                    color: #000;
                    margin: 0;
                }
                button {
                    border: 1px solid #000;
                    border-radius: 5px;
                    padding: 14px 39px;
                    background-color: transparent;
                    font-family: "Montserrat-Bold", sans-serif;
                    font-weight: 700;
                    color: #e89141;
                    font-size: 9px;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #e89141;
                    color: #000;
                    opacity: .5;
                }
            }
            .slide-text-1::before {
                content: '';
                position: absolute;
                top: -16px;
                height: 3px;
                width: 27px;
                background-color: #000;
            }
            .slide-text-2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                color: #fff;
            }
        }
        .slick-prev:before {
            content: '←';
            display: block;
            width: 20px;
            height: 20px;
            opacity: 1;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slick-next:before {
            content: '→';
            display: block;
            width: 20px;
            height: 20px;
            opacity: 1;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .slick-prev,
        .slick-next {
            width: 38px;
            height: 38px;
            top: 240px;
            background-color: #555;
            z-index: 5;
        }
        .slick-prev {
            left: -18px;
        }
        .slick-next {
            right: -19px;
        }
    }
}

.container-custom {
    background-color: #fff;
    position: relative;
    max-width: 986px;
}

.container-custom::before {
    content: '';
    width: 3px;
    height: 14px;
    background-color: #000;
    position: absolute;
}

.container-custom::after {
    content: '';
    width: 3px;
    height: 14px;
    background-color: #000;
    position: absolute;
}

.wr-about {
    background-color: #e9edef;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 73px 0px 45px 0px;
    max-width: 100%;
    .about-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: -59px;
        bottom: 13%;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .container-custom {
        padding-bottom: 74px;
        padding-left: 38px;
        display: flex;
        flex-direction: row;
    }
    .about-text {
        margin-top: -27px;
        margin-right: 10px;
        p {
            font-weight: 400;
            margin-top: 53px;
        }
        button {
            margin-top: 62px;
            font-size: 10px;
            color: #e89141;
            background: transparent;
            font-family: "Montserrat-Bold", sans-serif;
            font-weight: 700;
            border: none;
            cursor: pointer;
        }
        button:hover {
            color: #555;
        }
        span {
            position: absolute;
            right: 192px;
            bottom: 80px;
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    .about-slider {
        position: relative;
        max-width: 493px;
        margin-top: -40px;
        .about-slider-box {
            max-width: 493px;
            height: 306px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .slick-prev {
            left: 0;
        }
        .slick-next {
            left: -15px;
            margin-left: 40px;
        }
        .slick-prev,
        .slick-next {
            display: block;
            position: absolute;
            top: 95%;
        }
        .slick-prev::before,
        .slick-next::before {
            content: '';
            height: 9px;
            width: 13px;
            opacity: 1;
            background-size: cover;
            position: absolute;
        }
        .slick-prev::before {
            background-image: url("../media/left-arrow.png");
            background-position: center center;
        }
        .slick-next::before {
            background-image: url("../media/right-arrow.png");
            background-position: center center;
        }
    }
    .container-custom::before {
        bottom: 8%;
        left: 0px;
    }
    .container-custom::after {
        bottom: 8%;
        right: -1px;
    }
}

.wr-services {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 66px 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat-Bold", sans-serif;
    .services-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: -55px;
        top: 50%;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .service-portfolio {
        .grid-box-1,
        .grid-box-2,
        .grid-box-3,
        .grid-box-4 {
            max-height: 320px;
            max-width: 267px;
            position: relative;
            p {
                font-size: 9pt;
            }
        }
        .grid-box-1,
        .grid-box-3 {
            p {
                position: absolute;
                top: -38px;
            }
        }
        .grid-box-1,
        .grid-box-2 {
            p {
                position: absolute;
                right: 0;
            }
        }
        .service-img-box {
            // max-height: 320px;
            // max-width: 267px;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            a {
                text-decoration: none;
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
            }
            p {
                position: absolute;
                font-weight: 700;
                font-size: 10pt;
            }
        }
        .service-img-box:hover {
            filter: grayscale(100%);
        }
        .service-img-box:hover a {
            display: block;
        }
        .service-img-box:hover.service-img-box::before {
            content: '';
            height: 90%;
            width: 90%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #fff;
        }
        .service-portfolio-block {
            display: grid;
            grid-template-columns: 181px 86px 181px 199px 181px 86px;
            grid-template-rows: 280px 40px 280px;
            margin-top: 90px;
            position: relative;
            padding: 0 0 0 168px;
            .grid-box-1 {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                z-index: 5;
            }
            .grid-box-2 {
                grid-column-start: 2;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 4;
            }
            .grid-box-3 {
                grid-column-start: 4;
                grid-column-end: 7;
                grid-row-start: 1;
                grid-row-end: 3;
                z-index: 5;
                margin-left: 18px;
            }
            .grid-box-4 {
                grid-column-start: 5;
                grid-column-end: 7;
                grid-row-start: 2;
                grid-row-end: 4;
            }
        }
        // .service-portfolio-row {
        //     display: flex;
        //     flex-direction: row;
        //     .service-pair {
        //         position: relative;
        //         .service-img-box:hover {
        //             filter: contrast(30%);
        //             // .service-img-box::after {
        //             //     content: '+ LEARN MORE';
        //             //     display: block;
        //             //     position: absolute;
        //             //     top: 50%;
        //             //     left: 50%;
        //             //     transform: translate(-50%, -50%);
        //             // } НЕ РАБОТАЕТ
        //         }
        //         .upper-img {
        //             left: -79px;
        //             top: 105px;
        //             margin-left: 200px;
        //             z-index: 5;
        //         }
        //         .lower-img {
        //             left: 302px;
        //             top: 65px;
        //         }
        //     }
        //     .pair-1::before,
        //     .pair-1::after,
        //     .pair-2::before,
        //     .pair-2::after {
        //         position: absolute;
        //         font-family: "Segoe-UI-Bold", sans-serif;
        //         font-weight: 700;
        //         font-size: 10px;
        //         letter-spacing: 1px;
        //     }
        //     .pair-1::before {
        //         content: 'WEB & INTERACTIVE DESIGN';
        //         right: 81px;
        //         top: 82px;
        //     }
        //     .pair-1::after {
        //         content: 'ECOMMERCE';
        //         right: -103px;
        //         bottom: -90px;
        //     }
        //     .pair-2::before {
        //         content: 'APP DEVELOPMENT';
        //         left: 120px;
        //         top: 82px;
        //     }
        //     .pair-2::after {
        //         content: 'SEO & MARKETING';
        //         right: 58px;
        //         bottom: -90px;
        //     }
        // }
    }
}

.wr-portfolio {
    display: flex;
    flex-direction: row;
    padding: 53px 0;
    position: relative;
    background-color: #e9edef;
    align-items: center;
    justify-content: center;
    .portfolio-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: -100px;
        top: 50%;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .portfolio {
        max-width: 100%;
        font-size: 14px;
        font-weight: 700;
        font-family: "Montserrat-Bold", sans-serif;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .portfolio-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: relative;
            width: 100%;
            button {
                font-size: 10px;
                color: #e89141;
                background: transparent;
                font-family: "Montserrat-Bold", sans-serif;
                font-weight: 700;
                border: none;
                margin: 48px 0 0 0;
                letter-spacing: 1px;
            }
            button:hover {
                color: #626262;
            }
        }
        .portfolio-grid {
            display: grid;
            margin-top: 37px;
            max-width: 1002px;
            max-height: 810px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 14px;
            position: relative;
            .img-box-vertical-1 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 4;
                overflow: hidden;
            }
            .img-box-square-1 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
                overflow: hidden;
            }
            .img-box-horizontal-1 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 1;
                grid-row-end: 3;
                overflow: hidden;
            }
            .img-box-vertical-2 {
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 3;
                grid-row-end: 6;
                overflow: hidden;
            }
            .img-box-square-2 {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 6;
                overflow: hidden;
            }
            .img-box-horizontal-2 {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 4;
                grid-row-end: 6;
                overflow: hidden;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.wr-mission {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../media/our-mission-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 0 149px;
    h2 {
        margin-top: 0;
    }
    .container-custom {
        padding-top: 53px;
        padding-left: 45px;
        padding-bottom: 23px;
        .mission-text {
            p {
                margin-top: 56px;
            }
        }
    }
    .container-custom::before {
        left: 0;
        bottom: 12%;
    }
    .container-custom::after {
        right: 0px;
        bottom: 12%;
    }
}

.wr-qualities {
    padding: 65px 0;
    display: flex;
    justify-content: center;
    .container-custom::before,
    .container-custom::after {
        display: none;
    }
    .qualities-vertical {
        bottom: 32%;
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: -102px;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .qualities-main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 32px 2px;
        position: relative;
    }
    .qualities-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .qualities-box {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        max-width: 450px;
        p {
            margin-top: 0;
        }
    }
    svg {
        width: 80px;
        margin-top: 5px;
        margin-right: 20px;
    }
    .qualities-column+.qualities-column {
        margin-left: 180px;
    }
}

.wr-testimonials {
    display: flex;
    padding: 71px 0 94px;
    background-color: #e9edef;
    position: relative;
    align-items: center;
    justify-content: center;
    .testimonials-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        font-size: 11px;
        left: -84px;
        bottom: 18%;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    .container-custom {
        display: flex;
        flex-direction: row;
        padding-left: 40px;
        padding-bottom: 56px;
    }
    .container-custom::after {
        left: 0;
        bottom: 7%;
    }
    .container-custom::before {
        right: 0;
        bottom: 7%;
    }
    .testimonials-slider {
        position: relative;
        max-height: 306px;
        max-width: 493px;
        margin-top: -38px;
        .testimonials-slider-box {
            overflow: hidden;
            height: 306px;
            max-width: 493px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .testimonials-text {
        margin-top: -30px;
        .main-text {
            margin-top: 87px;
            font-size: 16px;
            position: relative;
        }
        .main-text::before {
            content: "“";
            position: absolute;
            font-size: 100px;
            font-family: none;
            left: 215px;
            top: -20px;
            opacity: .1;
        }
        span {
            position: absolute;
            top: 285px;
            right: 193px;
            font-size: 10px;
            text-transform: uppercase;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 500;
            letter-spacing: 1px;
        }
        .author {
            margin-top: 90px;
            font-weight: 700;
            font-size: 10px;
        }
    }
    button {
        font-size: 10px;
        color: #e89141;
        background: transparent;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
        border: none;
        cursor: pointer;
        position: absolute;
        bottom: -50px;
        left: 10px;
    }
    .slick-dots {
        position: absolute;
        right: 200px;
        bottom: 0;
    }
    .slick-dots li button:before {
        font-size: 35px;
        top: 95px;
        left: -50px;
    }
}

.wr-chess {
    .chess-row {
        display: flex;
        flex-direction: row;
        height: 50vw
    }
    .chess-box {
        width: 50%;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .chess-row:nth-child(even) {
        flex-direction: row-reverse;
    }
    .chess-text-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-box {
        max-width: 400px;
        p {
            font-size: 16px;
            line-height: 23px;
            margin-top: 40px;
            font-weight: 400;
        }
        .main-text {
            max-width: 360px;
            margin-top: 80px;
            line-height: 26px;
        }
        .chess-italic {
            color: #626262;
            font-style: italic;
        }
    }
    h2::before {
        top: 70px;
    }
}

.wr-app {
    background-image: url("../media/app.jpg");
    background-size: cover;
    position: relative;
    padding: 61px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .app-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        left: -84px;
        bottom: 21%;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
    }
    h2 {
        margin: 0;
    }
    .container-custom {
        background: none;
    }
    .container-custom::before {
        bottom: 3%;
    }
    .container-custom::after {
        bottom: 3%;
        right: 0;
    }
    .app-text {
        padding-left: 40px;
        p {
            margin-top: 61px;
            max-width: 50%;
            font-size: 16px;
            line-height: 26px;
        }
        button {
            border: none;
            padding: 0;
            margin-top: 41px;
            cursor: pointer;
        }
        svg {
            width: 147px;
            height: 47px;
            background-color: #fff;
        }
    }
}

.wr-events {
    background-image: url("../media/events-bg.jpg");
    padding: 99px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .events-text {
        text-align: center;
        background-color: #fff;
        padding: 38px 76px 74px;
        position: relative;
        p {
            margin-top: 65px;
            font-size: 16px;
            line-height: 26px;
        }
        h2::before {
            left: 50%;
            transform: translate(-50%, 0);
        }
        button {
            border: 1px solid #000;
            padding: 13px 28px;
            background-color: transparent;
            font-family: "Montserrat-Bold", sans-serif;
            font-weight: 700;
            color: #e89141;
            font-size: 9px;
            cursor: pointer;
            margin-top: 19px;
            letter-spacing: 1px;
        }
        button:hover {
            background-color: #e89141;
            color: #000;
            opacity: .5;
        }
    }
}

.wr-team {
    text-align: center;
    position: relative;
    .team-vertical {
        transform-origin: center center;
        transform: rotate(270deg);
        position: absolute;
        font-size: 11px;
        font-family: "Montserrat-Bold", sans-serif;
        font-weight: 700;
        left: -120px;
        top: 50%;
    }
    .team-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h2 {
        margin-top: 81px;
    }
    h2::before {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .team-content-main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 986px;
        position: relative;
        margin-top: 20px;
        .team-member {
            margin-bottom: 45px;
            h3 {
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                margin-top: 25px;
                margin-bottom: 0;
                font-size: 12px;
            }
            p {
                margin-top: 5px;
                font-size: 12px;
            }
        }
        .team-member:hover {
            h3 {
                color: #e89141;
            }
            img {
                transition: 1s;
                filter: none;
            }
        }
        .team-member-img {
            width: 294px;
            height: 213px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                filter: grayscale(80%);
            }
        }
    }
}

.wr-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px 0;
    position: relative;
    h2::before {
        left: 50%;
        transform: translate(-50%, 0);
    }
    .container-custom::before,
    .container-custom::after {
        display: none;
    }
    .wr-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        form {
            display: flex;
            margin-left: 21px;
        }
        .upper-text {
            max-width: 410px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 52px;
            margin-bottom: 32px;
            font-size: 16px;
            line-height: 26px;
        }
        .lower-text {
            font-size: 10px;
            margin-top: 22px;
            margin-left: 18px;
            color: #626262;
        }
        .email-input {
            border: 1px solid #000;
            padding: 9px 35px;
            margin: 0;
        }
        .btn-sub {
            padding: 13px 39px;
            border: 1px solid #000;
            font-size: 10px;
            letter-spacing: 1px;
            color: #e89141;
            background: transparent;
            font-family: "Montserrat-Bold", sans-serif;
            font-weight: 700;
            margin-left: 0;
        }
        .btn-sub:hover {
            color: #626262;
            background-color: #e89141;
        }
    }
}

.wr-footer {
    text-align: center;
    background-color: #353433;
    padding-bottom: 60px;
    a {
        text-decoration: none;
        color: #929292;
        font-size: 10px;
        margin: 0 5px;
    }
    p {
        color: #929292;
        font-size: 10px;
    }
    h4 {
        font-size: 13px;
        font-family: "Segoe UI", sans-serif;
        font-weight: 700;
        color: #fff;
        margin-bottom: 5px;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 68px 0;
        align-items: center;
        .enquiries {
            width: 33%;
        }
        .social {
            max-width: 33%;
            border-left: 1px solid #4a4948;
            border-right: 1px solid #4a4948;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .social-icons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0 100px;
            max-width: 229px;
            align-items: center;
            svg {
                fill: #929292;
                width: 12px;
                height: 12px;
                padding: 13px;
            }
        }
        .address {
            width: 33%;
        }
    }
    .lower-nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            margin: 43px auto;
            max-width: 1000px;
            align-items: center;
            padding: 0;
            li {
                margin: 0 10px 0 10px;
            }
        }
    }
}

@media all and (max-width: 1068px) {
    .wr-home .home-slider {
        width: 100%;
    }
}

@media all and (max-width: 1028px) {
    .container-custom {
        width: 100%;
    }
    .wr-about .about-text {
        margin: 0 10px;
    }
    h2 {
        margin: 0 10px;
    }
    .wr-testimonials .testimonials-text {
        h2 {
            margin-left: 0;
        }
        padding: 0 10px;
    }
    .wr-chess .text-box {
        h2 {
            margin-left: 0;
        }
        padding: 0 10px;
    }
    .wr-mission .container-custom .mission-text {
        h2 {
            margin-left: 0;
        }
        padding: 0 10px;
    }
    .wr-qualities .qualities-main {
        padding: 0 10px;
    }
    form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        justify-content: center;
        .btn-sub {
            margin-top: 10px;
        }
    }
    .wr-about .container-custom,
    .wr-testimonials .container-custom {
        flex-direction: column;
        p {
            margin-bottom: 70px;
        }
    }
}

@media all and (max-width: 1100px) {
    .wr-services .service-portfolio .service-portfolio-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 555px;
    }
    .grid-box {
        margin: 20px;
    }
    .grid-box-2 p {
        top: -38px;
    }
}

@media all and (max-width: 701px) {
    .wr-chess .chess-row {
        flex-direction: column;
        .chess-box {
            width: 100%;
            height: 100%;
        }
        .chess-text-box {
            padding: 20px 0;
            .text-box {
                max-width: 100%;
            }
        }
    }
    .wr-chess .chess-row:nth-child(even) {
        flex-direction: column;
    }
}

@media all and (max-width: 530px) {
    .wr-about .container-custom {
        padding-left: 0;
    }
    .wr-testimonials .container-custom {
        padding-left: 0;
    }
}

@media all and (max-width: 430px) {
    .wr-home .home-slider .home-slider-box .slide-text-1 {
        left: 10px;
    }
}

@media all and (max-width: 600px) {
    header .topnav {
        justify-content: space-between;
        .logo {
            margin: 19px 0;
        }
    }
}